<div class="confirmation">
    <div class="mailing">
        <img id="picto_mailing" src="{{ asset('img/depistage/rdv/mailing.png') }}" alt="Enveloppe">
    </div>
    <h3>Mail envoyé</h3>
    <p>Un mail avec vos informations de rendez-vous vous a été envoyé. Vérifiez bien vos spams pour ne pas passer à côté !</p>
</div>