{% extends 'base.html.twig' %}

{% block title %} | Informations pratiques{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('informations') }}
{% endblock stylesheets %}

{% block body %}
    <div class="section_info">
        <div class="info_left-side">
            <div>
                <a href="#">Télécharger l'attestation</a>
            </div>
            <div class="info_img_container">
                <img id="picto_informations" src="{{ asset('img/informations/picto_info.svg') }}" alt="Informations">
            </div>
        </div>
        <div class="info_right-size">
            TEXT
        </div>
    </div>
{% endblock %}
