{% extends 'base.html.twig' %}

{% block title %} | Live API{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('liveAPI') }}
{% endblock stylesheets %}

{% block body %}
    <div>
        LIVE API
    </div>
{% endblock %}
