/*
  Here your custom style for the page 'liveAPI'
 */
.content {
  margin: 2em 2em 0 2em;
  h1 {
    font-size: 18px;
    text-align: center;
    svg {
      margin-right: .4rem;
    }
  }

  .blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .block {
      display: flex;
      margin: 2rem;
      flex-direction: column;
      align-items: center;
      h2 {
        font-size: 48px;
        margin-top: 1rem;
        text-align: center;
      }
      p {
        font-size: 16px;
      }
    }
  }

  .bigBlock {
    h2 {
      text-align: center;
      font-size: 24px;
    }
  }
}

.confirmed > h2 {
  color: rgba(3, 155, 229, 0.9);
}
.deaths > h2 {
  color: rgba(186, 169, 222, 0.8);
}
.recovered > h2 {
  color: rgba(37, 166, 154, .9);
}