/*
  Here your custom style for the page 'sondage'
 */

nav {
  display: flex; background: #BAA9DE !important;
}

.title-container {
  width: 80%;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  align-items: baseline;

  .title-logo {
    margin-right: 30px;
  }

  .title-wrapper {
    .title {
      font-size: 48px;
      font-weight: bold;
      line-height: 60px;
      color: #BAA9DE;
    }

    .subtitle {
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
    }
  }
}

.form {
width: 60%;
margin: 0 auto;

.form-control-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;

  @media screen and (max-width: 1024px){
    flex-direction: column;
    align-items: flex-start;
  }
}

label, legend {
  margin-top: 15px;
  font-size: 24px !important;
  font-weight: 600;
}

select, input {
  width: 230px;
  border-color: #BAA9DE;
  border-radius: 0;
  @media screen and (max-width: 1024px){
    width: 100%;
  }
}

.radio-btn-group {
  display: flex;
  width: 305px;
  justify-content: space-between;
}

.radio-btn-group .form-check {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;

  input {
    width: initial;
  }
}

.radio-btn-group .form-check label {
  margin-top: 6px;
  margin-left: 40px;
}

.btn-submit {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-top: 1px solid #000;
  padding-top: 30px;
  margin-bottom: 100px;

  button {
    width: 180px;
    height: 50px;
    background-color: #BAA9DE;
    border-color: #BAA9DE;
    border-radius: 19px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;

    &:hover {
      background-color: darken($color: #BAA9DE, $amount: 7);
    }
  }
}
}

.answer-wrapper {
  width: 45%;
  margin: auto;
  .answer-container {
    display: flex;
    align-items: baseline;
    margin: 60px 0;
    font-size: 25px;

    .answer-percentage {
      margin-right: 90px;
      font-size: 40px;
      font-weight: 600;
      color: #BAA9DE;
    }
  }
}